
#heading{
  font-weight: normal;
  font-size: 30px;
}
#symbol{
  font-size: 15px;
  font-weight: bold;
}


#content{
  background-color: #f8f8f8;
}


#price{
  font-size: 30px;
}
#money{
  font-size: 15px;
  font-weight: bold;
}

.title{
  font-size: 18px;
  font-weight: normal;
}

.title:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
background-color: white;
  cursor: pointer;
}

span.ans{
  position: absolute;
  left: 200px;
  font-weight: bold;
  font-size: 15px;
}
